body{
    background-color: rgb(250, 217, 222);
    font-family: 'Be Vietnam', sans-serif;
    text-align:center;
}

h1{ 
    padding: 15px;
    font-size: 45px;
}

.passwordbox{
    background-color: lightgray;
    width: auto;
    margin:45px;
    border: 2px solid;
    box-shadow:10px 10px darkgray;
    border-radius:25px;
    padding:30px;
}

.generate{ 
    border-bottom: 4px solid darkgray;
    padding: 15px;
    font-size: 20px;
}

#secure{ 
    padding:30px;
    border-bottom:4px solid darkgray;
    border: 2px solid;
    border-radius: 25px;
    border-style: dotted;
    margin:15px;
    background-color: rgba(255, 255, 255, 0.623);
}

.buttons{
    padding:15px;
    border-top: 4px solid darkgray;
}

.button1{
    background-color: lightblue;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 70px;
    cursor: pointer;
    border-radius: 25px;
    border: 2px solid rgb(126, 126, 126);
}

.button2{
    background-color: lightblue;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 70px;
    cursor: pointer;
    border-radius: 25px;
    border: 2px solid rgb(126, 126, 126);
}
